<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href="../static/css/home_style.css">
        <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        <body>
            <div id="background">
                <img src="../static//img/techrius.png">
            </div>
            <div class='menu_bar'>
                <ul>
                    <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>  Home</a></li>
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>  About Us</a></li>
                    <li><a href="#"><i class="fa fa-clone" aria-hidden="true"></i>  Services</a>
                        <div class="Sub_menu_member">
                            <ul>
                                <li><a href="#">App Devolopement</a></li>
                                <li><a href="#">Machine Learning</a></li>
                                <li><a href="#">Web Designing</a></li>
                                <li><a href="#">Web Devolopement</a></li>  
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  Members</a>
                        <div class="Sub_menu_member">
                            <ul>
                                <li class="hover-me"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Adrishyantee Maity</a>
                                    <div class="sub_menu_member_s">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                            <li><a href="https://github.com/adrishyantee"><i class="fa fa-github" aria-hidden="true"></i>Git-Hub</a></li>
                                            <li><a href="adrishyantee@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>G-mail</a></li>
                                            <li><a href="https://www.linkedin.com/in/adrishyantee-m-755876139"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                                            <li><a href="https://www.facebook.com/adrishyantee2002"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>  
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>  
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Amit Samui</a>
                                    <div class="sub_menu_member_s">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i>Git-Hub</a></li>
                                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>G-mail</a></li>
                                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>   
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Sneha Mukherjee</a>
                                    <div class="sub_menu_member_s">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                            <li><a href="https://github.com/itsSnehaM"><i class="fa fa-github" aria-hidden="true"></i>Git-Hub</a></li>
                                            <li><a href="sneha2020mukherjee@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>G-mail</a></li>
                                            <li><a href="https://www.linkedin.com/in/sneha-mukherjee-5a5b241a9/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                                            <li><a href="https://www.facebook.com/itsSnehaM"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
                                            <li><a href="https://www.instagram.com/_its.zova_/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>   
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Soham Das Biswas</a>
                                    <div class="sub_menu_member_s">
                                        <ul>
                                            <li><a href="soham_profile.html"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                            <li><a href="https://github.com/SohamDasBiswas"><i class="fa fa-github" aria-hidden="true"></i>Git-Hub</a></li>
                                            <li><a href="sohamdb123@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>G-mail</a></li>
                                            <li><a href="https://www.linkedin.com/in/soham-das-biswas-b5460b1a9/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                                            <li><a href="https://www.facebook.com/soham.dasbiswas/"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li> 
                                            <li><a href="https://www.instagram.com/soham_das_biswas/"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>  
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Soumyajit Dutta</a>
                                    <div class="sub_menu_member_s">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                            <li><a href="https://github.com/Codehackerone"><i class="fa fa-github" aria-hidden="true"></i>Git-Hub</a></li>
                                            <li><a href="soumyajitdatta123@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>G-mail</a></li>
                                            <li><a href="https://www.linkedin.com/in/soumyajit-datta-974460202/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                                            <li><a href="https://www.facebook.com/profile.php?id=100014357407641"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li> 
                                            <li><a href="https://www.instagram.com/the_codehacker_one/"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>  
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>  Contact Us</a></li>
                </ul>
            </div>
            
        </body>
</html>